.encoding{
 display:grid;
 width:100%;
 align-items: center;
 justify-content: center;
 grid-template-columns: 1fr 1fr;
}

.encodingRadios{
}

.encodingParams{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.encodingParams form{
    display:grid;
    place-items: center;
}

.encodingParams input{
    display: block;
    width:50%;
}

.encodingParams legend{
    font-size: small;
}