.inputType{
    
    text-align: left;
    padding:5px;
  }
  .inputType input{
    margin-top:20px
  }
  
  .inputType button{
    background-color: rgba(255,255,255,0.2);
    border-radius: 7px;
    margin-top:5px;
    padding:2px;
    padding-bottom: 5px;
    display: block;
    width: 100%;
    font-size:large;
    color:white;
    text-align: left;
    border: none;
    padding:15px

  }

  .inputDataField{
    width:60%;
    word-wrap: break-word;
    text-align: right;
    
  
  }
  .inputDataField *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin:10px;
  }
  .inputDataField textarea{
    width:100%;
    resize: none;
    font-family: "JetBrains";
    font-size: 1.2rem;
    background-color: var(--brighter);
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 100%;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button{
    -moz-appearance: textfield;
    -webkit-appearance: none;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
  #randomLenInput{
    font-family: "JetBrains";
    background-color: var(--brighter);
    height: 3rem;
    font-size: 30px;
    width: 100%;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    border-radius: 10px;
  }
  #randomLenInput::after{
    content: "characters";
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--brighter);
    margin-left: 10px;
  }

  .inputData{
    width:100%;
    text-align: left;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
   
  }
  .inputData div{
    width:100%;
    
  }
#inputData{
  padding:20px;
}


#imageLabel{
  width:100%;
  text-align: center;
  font-size: 1.5rem;
  
  color: white;
  margin-bottom: 20px;
  box-shadow: 5px 5px black;
  background-color: var(--bg-color);
  padding:5px;
  border-radius: 10px;
}

#image{
  visibility: hidden;
}

