.inputType{
    width:100%;
    text-align: left;
  }
  
  .inputDataField{
    width:60%;
    word-wrap: break-word;
    text-align: right;
    
  
  }
  .inputDataField *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin:10px;
  }
  .inputDataField textarea{
   
    resize: none;
  }

  .inputData{
    width:100%;
    text-align: left;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
#inputData{
  padding:20px;
}